{% extends 'base.html.twig' %}

{% block title %}Mot de passe oublié{% endblock %}

{% block body %}

<div class="container-fluid container-body">
    <div class="row">
        <div class="col-sm-12 col-md-12 col-lg-12">
            <div class="card rounded shadow p-3 mb-5">
                <div class="card-body">
                    <h2 class="text-center">Mot de passe Oublié</h2>
                    <p>Réinitialisez le mot de passe en deux étapes rapides</p>
                    <form action="{{ path('loginLink') }}" method="post">
                        <div class="form-group">
                            <label for="email">Email:</label>
                            <input type="email" class="form-control" id="email" name="email"/>
                        </div>        
                        <button type="submit" class="btn btn-primary" data-toggle="modal" data-target="#exampleModalCenter">Envoyer le lien de connexion</button>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>

<!-- Modal -->
<div class="modal fade" id="exampleModalCenter" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLongTitle">Confirmation</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <p>Votre demande de réinitialisation de mot de passe à bien été pris en compte, veuillez consulter votre boite email.</p>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
      </div>
    </div>
  </div>
</div>




{% endblock %}