{% extends 'base.html.twig' %}

{% block title %}Mot de passe oublié{% endblock %}

{% block body %}

<div class="container-fluid container-body">
    <div class="row">
        <div class="col-sm-12 col-md-12 col-lg-12">
            <div class="card rounded shadow p-3 mb-5">
                <div class="card-body">
                    <h2 class="text-center">Mot de passe Oublié</h2>
                    <p>Réinitialisez le mot de passe en deux étapes rapides</p>
                    <form action="{{ path('loginLink') }}" method="post">
                        <div class="form-group">
                            <label for="email">Email:</label>
                            <input type="email" class="form-control" id="email" name="email"/>
                        </div>        
                        <button type="submit" class="btn btn-primary">Envoyer le lien de connexion</button>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>

{% endblock %}