@media screen and (min-width: 768px) {
    .menu 
    {
        width:100%;
        display:flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;

    }

    .block-logo
    {
        display: block;
    }

    .block-item-menu
    {
        display:flex;
        flex-direction: row;
        justify-content:flex-end;
        align-items: center;
        margin: 0px;
        padding: 0px;
    }

    .menu li {
        list-style: none;
    }

    .menu-item a {
        color: black;
        font-weight:600;
        padding: 0px;
        margin: 0px 7.5px;
    }

    .imageHero
    {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        background-image:url("/images/snowboarding_1920x1000.png");
        background-repeat: no-repeat;
        height: calc(100vh - 80px);
        filter: grayscale(40%);
        width:100%;
    }

    .imageHeroSmartphone
    {
        display:none;
    }

    .imageHero h1 {
        color: white;
        font-size: 5rem;
    }

    .imageHero h2 {
        color: white;
    }
    .imageHero p {
        color: white;
        margin-top:25px;
        font-size: 1.2rem;
    }

    .arrow-down {
        position:absolute;
        top: 90%; left: 95%;
    }

    .arrow-up {
        margin-right:3%;
    }

    .arrow-up a {
        text-decoration: none;
    }

    .linkEnabled {
        display: none;
    }
    .linkDisabled {
        display: block;
    }


    .menu-smartphone
    {
        display: none;
    }

    .container-list-tricks
    {
        display:flex;
        flex-direction: column;
        justify-content: flex-start;
        align-items: center;
    }

    #container-figures
    {
        display:block;
        width: 95%;
        margin: 0px auto;
        padding: auto;
    }

    /* page EditTrick*/

    .editTrickBtnAction  {
        padding: 6px 12px;
        margin: 0px 15px 15px 0px;
    }

    #description_trick_description{
        overflow-y:scroll;
    }


    /*general*/
    
    /* .carousel-control-prev
    {
        margin: 0px;
        padding: 0px;
        position: relative;
        transform: translate(200%, 0);
        color: #6C757D;
    }

    .carousel-control-next
    {
        margin: 0px;
        padding: 0px;
        position: relative;
        transform: translate(0%, 0);
        color: #6C757D;

    } */

}



@media screen and (max-width: 767px) and (min-height: 793px) {

    .container-bodySmartphone{

        height: calc(100vh - 60px);
        margin: 0px;
        padding:0px;
    }

}



@media screen and (max-width: 767px) {

    .navbar {
        display:none;

    }

    .imageHero
    {
        display: none;

    }

    .menu-smartphone
    {
        display: flex;
        flex-direction: row;
        justify-content: space-around;
        align-items: center;
        background-color: #E2E6EA;
        padding: 5px;
        position: sticky;
        bottom: 0px;
    }

    .imageHeroSmartphone h1 {
        color: white;
        font-size: 3rem;
    }


    .imageHeroSmartphone
    {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        background-image:url("/images/snowboarding_smartphone767x800.png");
        background-repeat: no-repeat;
        background-size: cover;
        height: 420px;
        filter: grayscale(40%);
    }

    .imageHeroSmartphone h1 {
        color: white;
        font-size: 3rem;
    }

    .imageHeroSmartphone h2 {
        color: white;
        font-size: 1.5rem;
    }
    .imageHeroSmartphone p {
        color: white;
        margin-top:25px;
        font-size: 1rem;
    }

    .imageHeroSmartphone .arrow-down {
        position:absolute;
        top: 50%; left: 50%;
        z-index: 1;
    }

    .arrow-up {
        margin-right:3%;
    }

    .arrow-up a {
        text-decoration: none;
    }


    .linkEnabled {
        display: none;
    }
    .linkDisabled {
        display: block;
    }

  }