@media screen and (min-width: 768px) {

    .main-card
    {
        width:100%;
        margin: -33% auto 0px auto;

    }

    .imgHeroTrick
    {
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        margin: 0px;
        padding: 0px;
        height:500px;
    }

    .imgHeroTrick h1
    {
        display:block;
        color: white;
        text-align: center;
        text-shadow: 5px 5px 10px grey;
        margin: 0px 100px;
    }


    .card-item-carousel
    {
        box-shadow: 5px 5px 10px grey, -5px -5px 10px grey;
    }


    .separator
    {
        border-bottom: 3px solid grey;
        width: 300px;
        margin: 5px auto 25px auto;
    }

}

@media screen and (max-width: 767px) {



    .imageHero
    {
        display: none;
        /* flex-direction: column;
        justify-content: center;
        align-items: center;
        background-image:url("/images/snowboarding_1920x1000.png");
        height: calc(100vh - 80px);
        filter: grayscale(40%);
        background-repeat: no-repeat; */

    }



    .imgHeroTrick
    {
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        margin: 0px;
        padding: 0px;
        height:500px;
    }

    .imgHeroTrick h1
    {
        display:block;
        color: white;
        text-align: center;
        text-shadow: 5px 5px 10px grey;
        margin: 0px 100px;
    }
}