@import "./loader.css";
@import "./trick-card.css";
@import "./trickPage.css";
@import "./loginPage.css";
@import "./profil.css";
@import "./trickcreatePage.css";

.menu 
{
    width:100%;
    display:flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;

}

.block-logo
{
    display: block;
}

.block-item-menu
{
    display:flex;
    flex-direction: row;
    justify-content:flex-end;
    align-items: center;
    margin: 0px;
    padding: 0px;
}

.menu li {
    list-style: none;
}

.menu-item a {
    color: black;
    font-weight:600;
    padding: 0px;
    margin: 0px 7.5px;
}

.imageHero
{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-image:url("/images/snowboarding_1920x1000.png");
    height: calc(100vh - 80px);
    filter: grayscale(40%);
    background-repeat: no-repeat;

}

.imageHero h1 {
    color: white;
    font-size: 5rem;
}

.imageHero h2 {
    color: white;
}
.imageHero p {
    color: white;
    margin-top:25px;
    font-size: 1.2rem;
}

.arrow-down {
    position:absolute;
    top: 90%; left: 95%;
}

.menu-smartphone
{
    display: none;
}

@media screen and (max-width: 768px) {

    .navbar {
        display:none;
    }

    .imageHero h1 {
        font-size: 3rem;
    }
    .imageHero h2 {
        font-size: 1.5rem;
    }
    .imageHero p {
        font-size: 1rem;
    }

    .menu-smartphone
    {
        display: flex;
        flex-direction: row;
        justify-content: space-around;
        align-items: center;
        background-color: #E2E6EA;
        padding: 5px;
        position: sticky;
        bottom: 0px;

    }

    .dropdown-menu li {
        list-style: none;
        background-color: #5A6268;

    }
    
    .dropdown-menu a {
        color: white;
        font-weight:600;
        padding: 0px;
        margin: 0px 7.5px;
    }

    .navbar-brand i {
        color: black;
    };
  }