@media screen and (min-width: 768px) {


    .manageImageHero {
        position:absolute;
        top: 15px; left: 89%;
    }

    .item-carousel
    {
        width: 125px;
        height: 125px;
        margin: 30px 0px;
        padding: 0px;
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        flex-wrap: wrap;
    }

    .img-carousel
    {
        display: block;
        width: 125px;
        height: 125px;
        margin: 0px auto;
        padding: 0px auto;
    }

    #comment_content{
        height:48px;
    }

    .authorPictureComment , .borderImageProfil{
        width:64px;
        height:64px;
        border-radius: 32px;
        box-shadow: 2px 2px 10px grey;
    }

    .avatar-image
    {
        margin: 0px;
        padding: 0px;

    }

    .see-media
    {
        display: block;
        margin: 0px;
        padding: 0px;
    }

    .btn-see-media
    {
        display: none;
    }

    .btn-hidden-media
    {
        display: none;
    }

    .medias-list-smartphone
    {
        display: none;
    }
}

/*  inférieur à 768px  */

@media screen and (max-width: 767px) {

    .imageHero
    {
        display: none;
    } 

    .imgHeroTrick
    {
        display: none;
    } 

    .fas.fa-arrow-down.fa-3x
    {
        display: none;
    }

    #carouselExampleControls
    {
        display: none;

    }

    .container-see-media
    {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }   
    .btn-see-media
    {
        display: block;
    }

    .btn-hidden-media
    {
        display: none;
    }

    .medias-list-smartphone
    {
        display: none;
    }
}