{% if comments|length > 0 %}
<h2 class="mb-3">Commentaires des snowboarders</h2>
    {% for comment in comments %}
    <div class="row">
        <div class="col-sm-12 col-md-1 col-lg-1">
            {# <img src="../../../public/images/{{}}" alt="author image"> #}
            <img class="authorPictureComment" src="http://placehold.it/64x64" alt="author image">
        </div>
        <div class="col-sm-12 col-md-11 col-lg-11 bg-light rounded mb-3 py-3 px-3">
            <strong>{{ comment.author.pseudo }}</strong> a dit :
            <blockquote> {{comment.content}}</blockquote>
        </div>
    </div>

    {% endfor %}
{% else %} 
    <h2> Cette figure n'as pas encore reçu de commentaires ...</h2>
{% endif %}