{% extends "base.html.twig" %}
{% block title %}Modification du lien video trick{% endblock %}
{% block body %} 
<div class="container-fluid container-body-auth" id="register">
    <div class="container-body">
        <div class="container-fluid">
            <div class="row d-flex justify-content-center">
                <div class="col-sm-12 col-md-12 col-lg-4">
                    <div class="container card rounded shadow p-3 my-5">
                        <h2 class="text-center mb-3">Modifier le lien video de {{currentfigure.name}}</h2>
                        {{form_start(formEditMediasTrick)}}
                        {{form_widget(formEditMediasTrick)}}
                        <button class="btn btn-lg btn-primary btn-block mb-3" type="submit">Modifier la video</button>
                        {{form_end(formEditMediasTrick)}}
                    </div>
                </div>
            </div>    
        </div>
    </div>
</div>
{% endblock %}   