{% extends "base.html.twig" %}
{% block title %} Edition de l'image de couverture {% endblock %}

{% block body %} 
<div class="container-fluid container-body-auth">
    <div class="container-body">
        <div class="container-fluid">
            <div class="row d-flex justify-content-center">
                <div class="col-sm-12 col-md-12 col-lg-6">
                    <div class="card rounded shadow p-3 my-5">
                        <h2 class="text-center">Edition de l'image de couverture</h2>
                        {{form_start(formUpdateCoverImage)}}
                    <div class="mb-3">
                        {{form_row(formUpdateCoverImage.coverImage)}}
                    </div>
                    <div class="mb-3">
                        {{form_row(formUpdateCoverImage.alternativeAttribute)}}
                    </div>
                    <button class="btn btn-lg btn-primary btn-block mb-3" type="submit">Valider</button>
                        {{form_end(formUpdateCoverImage)}}
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %} 